# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage
# don't lint ESLint config due to TypeScript ESLint bug; see https://github.com/typescript-eslint/typescript-eslint/issues/1723
.eslintrc.js
